/* ✅ Hide Google Translate top banner */
.goog-te-banner-frame {
  display: block;
  visibility: hidden;
  height: 200px;
}

body {
  top: -50px;
  z-index: 3000;
}
/* Extra protection to prevent Google from translating */
.notranslate {
  all: unset !important;
}


/* ✅ Hide Google toolbar (pop-up at bottom) */
.goog-te-balloon-frame {
  display: block;
}

/* ✅ Hide Google logo link */
.goog-logo-link {
  display: flex;
}

/* ✅ Adjust widget styling */
.goog-te-gadget {
  font-size: 0 !important;
}
